.products {
    width: 650px;
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    padding: 40px;
}

.sort-container {
    display: flex;
    width: 300px;
    justify-content: flex-end;
    margin: 5px;
    
    position: relative;
    
    
  padding: 1px;
}

label {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-right: 10px;
}

select {
    cursor:pointer;
    border: none;
    font-size: 18px;
}


.rows{
  display: flex;
  flex-wrap: wrap;
  
}

.products a{
  margin-top: 200px;
  padding-left: 10px;
}

.side{
  
  flex: 2 ;
  background-color: #f1f1f1;
  border-radius: 5px solid black;
  padding: 5px;
  width: 350px;
  margin-top: 200px;
  margin-right: 100px;
  align-items: center;
}

.main{
 flex: 2;
  border-radius: 5px solid black;
  background-color: white;
  width:750px;
  margin-left: 0px;
  
  
}
* {
  box-sizing: border-box;
}


@media (max-width: 500px) {
    .products {
        width: 100%;
        justify-content: space-around;
    }
    .sort-container {
        width: 100%;
        justify-content: center;
        margin: 0px;
    }
}